@import "tailwindcss";

html {
  scroll-behavior: smooth;
  font-family: "Roboto Mono", monospace;
}

/* Mesh Background */
.matrix-bg {
  background: 
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 18px,
      #16a34a 19px,
      #16a34a 20px
    ),
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent 18px,
      #16a34a 19px,
      #16a34a 20px
    );
  animation: matrix-fall 3s linear infinite;
}

@keyframes matrix-fall {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 0 20px, 20px 0;
  }
}

